@import "colors";
@import "fonts";
@import "fontsize";
@import "mediaqueries";








/*  empieza css del index*/

.image__carousel {
    width: 100%;
    height:500px;
    object-fit:cover

} 
/*termina css del index*/



/* empieza css del menu y logo*/

.navbar-brand{
    display:flex;
    align-items:baseline;
    width:200px;
    height:110px;
    border:hidden;
}


.collapse{
    display:flex;
    justify-content: flex-start ;
    

}

.navbar-expand-lg {
    height: 150px;
    width: 100%;
    display:flex;
    align-items: flex-end; 
}

/*termina css del menu y logo*/
 


/* empieza css history */

.body__history{
    background-color: $mycolor; 
}

.image__history{
    display: flex;
    border: hidden 5px;
    padding: 7px;
}





/* termina css history */

/*empieza css de tourism*/

* { 
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $mycolor;
    font-family:$myfont_2;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.contenedor {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}
.contenedor__cards {
    margin: 70px 0 ;

    .card {
        background-color: $mycolor_3;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items:center;
        position: relative;
        margin-bottom: 50px;
        
    }

    .card__img { 
       
        width: 300px;
        height: 200px;
        border-radius: 15px;
        object-fit:cover;
    }

    .card__extracto {
        line-height: 28px;
        color: $mycolor_4;
        margin-bottom: 20px;
        padding-left: 30px;
        font-size: $fontsize;
        color: $mycolor_2;
    }
    
    .card__title{
        display:flex;
        justify-content:center;
        padding-bottom: 7px;
        font-family: $myfont;
        font-size: $fontsize_4;
        font-weight: normal;
        
    } 



}


.card__enlace {
    color:$mycolor_2;
}

.list__card{
    display:flex;
    flex-direction:column;
}

/*termina css de tourism*/



/*empieza css de living*/

.image__container{
    display: flex;
    border: hidden 5px;
    margin: 15px;

}

.imagebox{
    width: 600px;
    height: 350px;
    margin: 5px;
    border-radius: 3%;
    
}


.text__box{
    margin: 10px;
    padding: 7px;
    font-size: $fontsize;
    font-family: $myfont;

}

.title__box{
    display:flex;
    justify-content: center;
    margin: 4px;
    padding-bottom: 7px;
    font-size: $fontsize_2;
    font-family: $myfont;
    color: $mycolor_2;
}

.p__span{
    color:$mycolor_2;
    font-weight: bold;
}

.p__span1{
    color:$mycolor_2;
    font-weight:bold;
    font-size: $fontsize_3;
}

/*termina css de living*/


/* empiza css CONTACT FORM!! */

body {
    font-family: $myfont_3;
    background-color: $mycolor_5;
    margin: 0;
    padding: 0;
  }

  .contact__form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: $mycolor;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
   
    
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .name__form , .surname__form , .email__form , .password__form , .text__form , .tel__form , 
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid $mycolor_6;
    border-radius: 3px;
    

  }

  textarea {
    height: 150px;
  }

  .submit__form{

    display: inline-block;
    padding: 10px 20px;
    background-color: $mycolor_7;
    color: $mycolor;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  

 .contact__title{
    background-color: $mycolor_8;
    display:flex;
    justify-content: center;
    border:2px;
    }


    /*footer*/

    .footer__contacto{
        margin-top: 3%;
      }

   .logo__facebook{
       width: 10%;
       padding: 3%;
       
   }
   
   .logo__twitter{
       width: 10%;
       padding: 3%;
   }
   
   .logo__instagram{
       width: 10%;
       padding: 3%;
   }


